<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Test Stat Block</title>
    <style type="text/css"></style>
    <link rel="stylesheet" href="templates/css/statblock.css">
  </head>
  <body>
    <h1 class="creature-name">Nikolai Wachter</h1>
<p class="size-type-alignment">Medium humanoid (any race), Any alignment</p>
<p class="source">CoS (p. 110)</p>
<hr>
<div class="stat-block-top">
    <p class="stat-line"><span class="stat-title">Armor Class</span> 15 (breastplate)</p>
    <p class="stat-line"><span class="stat-title">Hit Points</span> 9 (2d8)</p>
    <p class="stat-line"><span class="stat-title">Speed</span> walk 30 ft.</p>
    <hr>
    <table class="stat-scores">
        <tr class="stat-title scores-header">
            <td>STR</td>
            <td>DEX</td>
            <td>CON</td>
            <td>INT</td>
            <td>WIS</td>
            <td>CHA</td>
        </tr>
        <tr>
            <td>11 (+0)</td>
            <td>12 (+1)</td>
            <td>11 (+0)</td>
            <td>12 (+1)</td>
            <td>14 (+2)</td>
            <td>16 (+3)</td>
        </tr>
    </table>
</div>
<hr>
<p class="stat-line"><span class="stat-title">Skills</span> Deception +5, Insight +4, Persuasion +5</p>
<p class="stat-line"><span class="stat-title">Senses</span> passive Perception 12</p>
<p class="stat-line"><span class="stat-title">Languages</span> any two languages</p>
<p class="stat-line"><span class="stat-title">Challenge</span> 1/8 (25 XP)</p>

<hr>




<hr class="thin">
<p class="stat-line">Source: Curse of Strahd p. 110<p>
    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
  </body>
</html>
