<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Test Stat Block</title>
    <style type="text/css"></style>
    <link rel="stylesheet" href="templates/css/statblock.css">
  </head>
  <body>
    <h1 class="creature-name">Blackguard</h1>
<p class="size-type-alignment">Medium humanoid (any race), Any Non-Good Alignment</p>
<p class="source">VGtM (p. 211), EKDC, EKDoIP, EKSDW, MOoT</p>
<hr>
<div class="stat-block-top">
    <p class="stat-line"><span class="stat-title">Armor Class</span> 18 (plate armor)</p>
    <p class="stat-line"><span class="stat-title">Hit Points</span> 153 (18d8 + 72)</p>
    <p class="stat-line"><span class="stat-title">Speed</span> walk 30 ft.</p>
    <hr>
    <table class="stat-scores">
        <tr class="stat-title scores-header">
            <td>STR</td>
            <td>DEX</td>
            <td>CON</td>
            <td>INT</td>
            <td>WIS</td>
            <td>CHA</td>
        </tr>
        <tr>
            <td>18 (+4)</td>
            <td>11 (+0)</td>
            <td>18 (+4)</td>
            <td>11 (+0)</td>
            <td>14 (+2)</td>
            <td>15 (+2)</td>
        </tr>
    </table>
</div>
<hr>
<p class="stat-line"><span class="stat-title">Saving Throws</span> Wis +5, Cha +5</p>
<p class="stat-line"><span class="stat-title">Skills</span> Athletics +7, Deception +5, Intimidation +5</p>
<p class="stat-line"><span class="stat-title">Senses</span> passive Perception 12</p>
<p class="stat-line"><span class="stat-title">Languages</span> any one language (usually Common)</p>
<p class="stat-line"><span class="stat-title">Challenge</span> 8 (3,900 XP)</p>

<hr>
<p class="stat-line"><span class="stat-title">Spellcasting.</span> The blackguard is a 10th-level spellcaster. Its spellcasting ability is Charisma (spell save DC 13, +5 to hit with spell attacks). It has the following paladin spells prepared:
• 1st level (4 slots): command, protection from evil and good, thunderous smite
• 2nd level (3 slots): branding smite, find steed
• 3rd level (2 slots): blinding smite, dispel magic</p>



<hr class="thin">
<p class="stat-line">Blackguards are paladins who broke their sacred oaths and now indulge their own dark ambitions. They consort with fiends and undead, and they reject all goodly things from their former lives.<br />Source: Volo's Guide to Monsters p. 211, Essentials Kit: Divine Contention, Essentials Kit: Dragon of Icespire Peak, Essentials Kit: Sleeping Dragon's Wake, Mythic Odysseys of Theros<p>
    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
  </body>
</html>
