h1 {
  margin: 0;
}

h2 {
  font-family: Verdana;
  margin: .5em 0 0 0;
  font-size: 1.2em;
  color: #5b0f00;
  font-variant: small-caps;
}

hr {
  border-top: .13em solid #5b0f00
}

hr.thin {
  border-top: .05em solid #5b0f00;
  margin: 0;
}

p {
  font-family: Verdana;
  margin: 0;
}

table {
  font-size: .8em;
  font-family: Verdana;
}

.stat-block-top {
  color: #5b0f00;
}

.stat-line {
  font-size: .8em;
  margin: .5em 0;
}

.core-stat-title {
  font-weight: bold;
}

.stat-title {
  font-weight: bold;
  font-style: italic;
}

.attack-type {
  font-style: italic;
}

.hit-text {
  font-style: italic;
}

.scores-header {
  font-size: .9em;
}

.stat-scores {
  text-align: center;
}

.stat-scores td {
  padding: 0 .3em;
}

.creature-name {
  font-size: 1.5em;
  color: #5b0f00;
  font-variant: small-caps;
}

.size-type-alignment, .source {
  font-size: .7em;
  font-style: italic;
}
