<!DOCTYPE HTML>

<html>

<head>
	<!-- <link rel="stylesheet" href="css/item_cards.css" media="screen"> -->
	<link rel="stylesheet" href="css/item_cards_print.css" media="screen">
	<script src="js/item_cards.js"></script>
</head>

<body>

<input type="button" onclick="printDiv('front-page-print');" value="Print Front" />
<input type="button" onclick="printDiv('back-page-print');" value="Print Back" />

<div id="front-page-print">
  <div id="front-page" class="page">
    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="guide hguide hguide0"></div>
    <div class="guide hguide hguide1"></div>
    <div class="guide hguide hguide2"></div>
    <div class="guide hguide hguide3"></div>
    <div class="guide vguide vguide0"></div>
    <div class="guide vguide vguide1"></div>
    <div class="guide vguide vguide2"></div>
    <div class="guide vguide vguide3"></div>
  </div>
</div>

<div id="back-page-print">
  <div id="back-page" class="page">
    <div class="card card-back"></div>
    <div class="card card-back"></div>
    <div class="card card-back"></div>
    <div class="card card-back"></div>
    <div class="card card-back"></div>
    <div class="card card-back"></div>
    <div class="card card-back"></div>
    <div class="card card-back"></div>
    <div class="card card-back"></div>
    <div class="guide hguide hguide0"></div>
    <div class="guide hguide hguide1"></div>
    <div class="guide hguide hguide2"></div>
    <div class="guide hguide hguide3"></div>
    <div class="guide vguide vguide0"></div>
    <div class="guide vguide vguide1"></div>
    <div class="guide vguide vguide2"></div>
    <div class="guide vguide vguide3"></div>
  </div>
</div>

</body>

</html>